/* #region ----- HERO ----- */

.hero-section {
    position: relative;
    width: 100%;
    height: 40rem;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero-section::after {
    content: "";
    position: absolute;
    inset: 0;
    background: 
        linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%),
        linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 20%);
    z-index: 1;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    inset: 0;
    padding-left: 10rem;
    gap:0.2em;
    z-index: 2;
}

.hero-content h2 {
    font-size: 1.8em;
}

.hero-content p {
    font-size: 1.2em;
    /* font-weight: bold; */
}

.hero-button {
    padding: 0.5em 3em;
    margin-top: 0.75em;
    align-self: flex-start;
    transition: background-color 0.2s ease;
}

.hero-button:hover {
    background-color: var(--primary-color-dark);
}

/* #endregion */

/* #region ----- SECTIONS ----- */

.section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4vw;
    padding: 4vw 15vw;
}

.content-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    height: 20em;
    background-color: var(--card-background);
    border-radius: var(--card-radius);
}

.content-section-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5em;
    padding: 2em;
}

.content-section-info p {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.content-section-image-wrapper {
    overflow: hidden;
    width:45%;
    height: 100%;
    border-radius: var(--card-radius) 0em 0em var(--card-radius);
}

.content-section-image {
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: 50% 50%;
    flex-shrink: 0;
    transition: transform 1s ease;
}

.content-section-image:hover {
    transform: scale(1.02);
}

.content-section.text_left > .content-section-info {
    order:1;
}

.content-section.text_left > .content-section-image-wrapper {
    order:2;
    border-radius: 0em var(--card-radius) var(--card-radius) 0em;
}

.content-section-link {
    padding: 0.5em;
    align-self: flex-start;
}

.content-section-link:hover {
    background-color: var(--primary-color-dark);
}

/* #endregion */

/* #region ----- FEATURE GRID ---- */

.feature-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:0.2em;
}

.feature-icon {
    width:5em;
    transition: transform 0.2s ease;
}

.feature-icon:hover {
    transform: scale(1.05);
}

/* #endregion

/* #region ----- MOBILE LAYOUT ----- */

/* #region ----- RESPONSIVITY ---- */

@media (max-width: 750px) {
    :root {
        --card-radius: 0.5em;
        font-size: 125%;
    }

    .site-header {
        padding: 0.5em;
    }

    .hero-content {
        padding: 0 1rem;
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .hero-button {
        align-self: center;
    }

    .nav-menu {
        display: none;
    }
    
    .section-wrapper {
        gap:1.5em;
        padding:1em;
    }

    .content-section {
        flex-direction: column;
        align-self: center;
        height: 100%;
    }

    .content-section-info {
        padding: 1em;
        gap: 0.8em;
    }

    .content-section-info p {
        font-size: 0.8em;
    }

    .content-section-info h2 {
        font-size: 1.2em;
    }

    .content-section.text_left > .content-section-info {
        order:2;
    }

    .content-section.text_left > .content-section-image {
        order:1;
        border-radius: 0em var(--card-radius) var(--card-radius) 0em;
    }

    .content-section-image {
        border-radius: var(--card-radius) var(--card-radius) 0 0;
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
}

/* #endregion */

/* #region ----- POP UP ---- */

#popup {
    transition: opacity 0.5s ease, visibility 0.1s ease;
    opacity: 0;
    pointer-events: none;
    overscroll-behavior-block: contain;
}

#popup.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.popup-background {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.803);
    display:flex;
    align-items: center;
    justify-content: center;
}

.popup-wrapper {
    display:flex;
    flex-direction: column;
}

.popup {
    display:flex;
    flex-direction: column;
    align-items: start;
    gap:0.75em;
    font-size: 1em;
    width: 40vw;
    padding: 2.5em;
    background-color: var(--card-background);
}

.popup-input {
    --grey: rgb(105, 105, 105);
    background-color: transparent;
    border: none;
    padding:10px;
    color:var(--grey);
    border-bottom: 0.1em solid var(--grey);
    width: 60%;
}

.popup-subscribe {
    background-color: black;
    border-color: white;
    border-width: 1px;
    color: white;
    font-family: "Big Shoulders", sans-serif;
    font-size: 1em;
    padding: 0.5em 1em;
    cursor: pointer;
}

.popup-close {
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.75em;
    color:#3e3e3e;
    align-self: flex-end;
    background-color: var(--card-background);
    padding:5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

/* #endregion */